.principal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
}

.bottom-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

img.clickable {
    cursor: pointer;
}

.informations-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.left-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 1.5em;
    width: fit-content;
}

i {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
}

.info-card {
    width: 430px;
    height: 48px;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}

.info-card:hover {
    background-color: #d9d9d9;
}

.firstname {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-between;
}

.info-title {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.4);
    width: fit-content;
}

.info-content {
    font-size: 0.9em;
    color: black;
    width: fit-content;
}

.right-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-container {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 5px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
    align-self: center;
}


.buttons-container {
    align-items: end;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: end;
}

.button {
    width: 100px;
    height: 44px;
    background-color: #f4f4f4;
    font-size: 1em;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.25s ease;
}

.button:hover {
    background-color: #d9d9d9;
}

.validate:hover {
    background-color: #06A664;
    color: white;
}

.refuse:hover {
    background-color: rgb(255, 70, 70);
    color: white;
}

.docs-container {
    width: 420px;
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.doc {
    width: 190px;
    min-width: 190px;
    max-width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease;
}

.doc:hover {
    background-color: #2d2d2d;
    color: white;
}

.doc:hover i {
    color: white;
}

.doc:hover div {
    color: white;
}

.doc-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.doc-type {
    font-size: 3em;
    text-align: center;
}

.eye {
    position: absolute;
    right: 10px;
    bottom: 10px;
}