<div class="principal-container">
    <div class="left-container">
        <img src="logoName.png" alt="M3Fund logo" class="logo">
        <div class="login-text">Connexion Admin</div>
        <div class="login-form">
            <form>
                <div class="input-icon">
                    <i class="ri-user-3-line"></i>
                    <input type="text" placeholder="Entrez votre email ou téléphone" required>
                </div>
                <div class="input-icon">
                    <i class="ri-lock-2-line"></i>
                    <input id="password" type="password" placeholder="Entrez votre mot de passe" required>
                    <i class="ri-eye-off-line"></i>
                </div>
            </form>
        </div>
    </div>
    <div class="right-container"></div>
</div>