<div class="principal-container">
    <div class="left-container">
        <img src="logoName.png" alt="M3Fund logo" class="logo">
        <div class="login-text">Connexion Admin</div>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="input-label">Nom d'utilisateur</div>
                <div class="input-icon">
                <i class="ri-user-3-line"></i>
                <input 
                    formControlName="username"
                    type="text"
                    placeholder="Entrez votre email ou téléphone"
                    autocomplete="email tel-national"
                    required
                >
                </div>
                @if(submitted && loginForm.get('username')?.errors?.['required']) {
                    <div class="error-message">
                    Le nom d'utilisateur est obligatoire.
                    </div>
                }

                <div style="height: 20px;"></div>

                <div class="input-label">Mot de passe</div>
                <div class="input-icon">
                <i class="ri-lock-2-line"></i>
                <input 
                    formControlName="password"
                    [class.expand]="!showPassword"
                    class="password"
                    [type]="showPassword? 'text': 'password'"
                    placeholder="Entrez votre mot de passe"
                    required
                >
                <i class="toggle-eye"
                    [class.ri-eye-line]="showPassword"
                    [class.ri-eye-off-line]="!showPassword"
                    (click)="togglePassword()"></i>
                </div>
                @if(submitted && loginForm.get('password')?.errors?.['required']) {
                    <div class="error-message">
                    Le mot de passe est obligatoire.
                    </div>
                }

                <div class="forgot-password">
                    Mot de passe oublié?
                </div>

                @if(errorOccured) {
                    <div class="error-message" style="text-align: center; margin-bottom: 15px;">{{ errorText }}</div>
                }
                <button type="submit" class="submit-button" [disabled]="isDisabled">
                    @if(isDisabled) {
                        Chargement ...
                    } @else {
                        Se connecter
                    }
                </button>
            </form>
        </div>
    </div>
    <div class="right-container">
        <img class="bdi" src="bdi.png" alt="M3Fund. Bénévolat, Don et Investissement.">
        <div class="carousel-container">
            <div
                class="carousel-slide"
                [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'"
            >
                @for (card of cards; let i=$index; track card.title) {
                <div class="slide">
                    <img [src]="card.image" [alt]="card.title" class="info-icon" />
                    <h3 class="info-title">{{ card.title }}</h3>
                    <p class="info-text">{{ card.text }}</p>
                </div>
                }
            </div>

            <div class="pagination-dots">
                @for (card of cards; let i = $index; track card) {
                <span
                    class="dot"
                    [class.active]="i == currentIndex"
                    (click)="goToSlide(i)"
                ></span>
                }
            </div>
        </div>

        <img class="man-picture" src="man.png" alt="A man 3D picture.">
        <img class="woman-picture" src="woman.png" alt="A woman 3D picture.">
    </div>
</div>