.preview-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
}

.close-btn {
  position: absolute;
  right: 100px;
  cursor: pointer;
  top: 8px;
  background: white;
  border: none;
  padding: 4px 6px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 2;
}

.close-btn:hover {
  background: #ddd;
}

.image-preview {
  width: 400px;
  height: auto;
  border-radius: 6px;
  object-fit: contain;
}
