.principal-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(7% - 5px) calc(93% - 5px);
    gap: 10px;
    box-sizing: border-box;
}

i {
    font-size: 24px;
}

.top-container{
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 80% 20%;
}

.dashboard-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.dashboard-text {
    font-size: 1.2em;
}

.cheat-text {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4);
}

.refresh-area {
    width: 120px;
    height: 38px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    justify-self: end;
    transition: background-color 0.25s ease;
}

.refresh-area i {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.25s ease;
}

.refresh-area div {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.25s ease;
}

.refresh-area:hover {
    background-color: #06A664;
}

.refresh-area:hover i,
.refresh-area:hover div {
    color: white;
}

.bottom-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(5% - 2.5px) (95% - 2.5px);
    gap: 5px;
    box-sizing: border-box;
}

.current-date {
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.stats-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(30% - 5px) calc(70% - 5px);
    gap: 10px;
}

.t-container {
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;  
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.stl-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stl-text {
    font-size: 1em;
    color: white;
}

.str-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(230, 184, 0, 1) 0%,
        rgba(128, 96, 0, 1) 100%
    );
    box-sizing: border-box;
    border-radius: 7px;
    color: white;
    display: grid;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.fund-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: space-between;
}

.monthly-fund-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.monthly-fund-container.bad i {
    color: red;
}

.b-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
}

.payments-chart-area {
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-rows: calc(15% - 2px) calc(15% - 2px) calc(70% - 2px) ;
    padding: 10px;
    gap: 6px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.payments-chart-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.payments-chart-title {
    font-size: 1.1em;
}

.payments-type {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.6);
}

.payments-type:focus-within {
    border: 1px solid #2d2d2d;
}

.payments-chart {
  width: 100%;
  height: calc(100vh/4);
  box-sizing: border-box;
  padding: 10px;
}

.payments-chart-center {
    width: 70%;
    height: 32px;
    display: grid;
    background-color: #f4f4f4;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    justify-self: center;
}

.payments-chart-type:hover {
    background-color: #d9d9d9;
}

.payments-chart-type {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    cursor: pointer;
    font-size: 0.9em;
    background-color: #f4f4f4;
}

.payments-chart-type.selected {
    background-color: #2d2d2d;
    color: white;
}

.campaigns-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: calc(15% - 2.5px) calc(85% - 2.5px);
    gap: 5px;
}

.ct-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cb-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
}

.campaign-card {
    width: 250px;
    min-width: 250px;
    height: 98%;
    background-color: #2d2d2d;
    display: grid;
    grid-template-rows: calc(28% - 5px) calc(28% - 5px) calc(30% - 5px) calc(14% - 5px);
    gap: 2px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
}

.ccname-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.ccproject-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ccamount-container {
    width: 100%;
}

.ccbutton-container {
    width: 100px;
    height: 32px;
    background-color: #f4f4f4;
    justify-self: end;
    color: black;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    transition: all 0.25s ease;
    cursor: pointer;
}

.ccbutton-container:hover {
    background-color: #06A664;
    color: white;
}