.principal-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(7% - 5px) calc(93% - 5px);
    gap: 10px;
    box-sizing: border-box;
}

i {
    font-size: 24px;
}

.top-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    box-sizing: border-box;
}

.dashboard-texts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
}

.dashboard-text {
    font-size: 1.2em;
}

.cheat-text {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4);
}

.refresh-area {
    width: 120px;
    height: 38px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    justify-self: end;
    transition: background-color 0.25s ease;
}

.refresh-area i {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.25s ease;
}

.refresh-area div {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.25s ease;
}

.refresh-area:hover {
    background-color: #06A664;
}

.refresh-area:hover i,
.refresh-area:hover div {
    color: white;
}

.bottom-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(5% - 2.5px) calc(95% - 2.5px);
    gap: 5px;
    box-sizing: border-box;
}

.current-date {
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.stats-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(30% - 5px) calc(70% - 5px);
    gap: 10px;
}

.t-container {
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;  
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.stl-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stl-text {
    font-size: 1em;
    color: white;
}

.str-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(230, 184, 0, 1) 0%, rgba(128, 96, 0, 1) 100%);
    border-radius: 7px;
    color: white;
    display: grid;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.fund-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: space-between;
}

.monthly-fund-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.monthly-fund-container.bad i {
    color: red;
}

.b-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
}

.payments-chart-area {
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-rows: calc(15% - 2px) calc(15% - 2px) calc(70% - 2px);
    padding: 10px;
    gap: 6px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.payments-chart-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payments-chart-title {
    font-size: 1.1em;
}

.payments-type {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.6);
}

.payments-type:focus-within {
    border: 1px solid #2d2d2d;
}

.payments-chart-center {
    width: 70%;
    height: 32px;
    display: grid;
    background-color: #f4f4f4;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-self: center;
    overflow: hidden;
}

.payments-chart-type {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    cursor: pointer;
    font-size: 0.9em;
    background-color: #f4f4f4;
}

.payments-chart-type.selected {
    background-color: #2d2d2d;
    color: white;
}

.payments-chart-type:hover {
    background-color: #d9d9d9;
}

.payments-chart {
    width: 100%;
    height: calc(100vh / 4);
    padding: 10px;
    box-sizing: border-box;
}

.campaigns-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: calc(15% - 2.5px) calc(85% - 2.5px);
    gap: 5px;
}

.ct-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cb-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.campaign-card {
    width: 250px;
    min-width: 250px;
    height: 98%;
    background-color: #2d2d2d;
    display: grid;
    grid-template-rows: calc(28% - 5px) calc(28% - 5px) calc(30% - 5px) calc(14% - 5px);
    gap: 2px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
}

.ccname-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.ccproject-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ccamount-container {
    width: 100%;
}

.ccbutton-container {
    width: 100px;
    height: 32px;
    background-color: #f4f4f4;
    justify-self: end;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.ccbutton-container:hover {
    background-color: #06A664;
    color: white;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog-container {
    background: white;
    width: min(90%, 420px);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.2);
    animation: popup-appear 0.25s ease forwards;
}

@keyframes popup-appear {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.dialog-title { font-size: 1.3em; font-weight: bold; margin-bottom: 10px; }
.dialog-text { font-size: 0.8em; margin-bottom: 25px; }
.dialog-actions { display: flex; justify-content: flex-end; gap: 10px; }

.dialog-actions .cancel {
    background: #f4f4f4;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.dialog-actions .cancel:hover { background-color: #d9d9d9; }

.dialog-actions .confirm {
    background: #06A664;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.dialog-actions .confirm.loading {
    background-color: #f4f4f4;
    color: black;
    cursor: wait;
}

@media (max-width: 1024px) {
    .t-container { grid-template-columns: 1fr; }
    .b-container { grid-template-columns: 1fr; grid-template-rows: auto auto; }
    .campaign-card { height: 150px;}
}

@media (max-width: 768px) {
    .top-container { grid-template-columns: 1fr; }
    .refresh-area { justify-self: start; }
    .campaign-card { height: 150px;}
    .principal-container { gap: 20px; }
}

@media (max-width: 480px) {
    .dashboard-text { font-size: 1em; }
    .ccbutton-container { width: 80px; font-size: 0.75em; }
    .campaign-card { height: 150px;}
    .campaigns-container {grid-template-rows: calc(20% - 2.5px) calc(80% - 2.5px);}
}
